*.json
.env
tft_django/tft_django/settings.py
tft_django/tft_ml/pipeline/database/database.ini
tft_django/tft_ml/pipeline/data
tft_django/tft_ml/pipeline/test-files
tft_django/tft_ml/pipeline/.ipynb_checkpoints
tft_django/tft/migrations
tft_django/tft_selenium